<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="oms.mmc.fast.base">

    <application>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- 自动初始化 -->
            <!-- 手动初始化（也是延迟初始化）需要添加 tools:node="remove" -->
            <!-- AppInitializer.getInstance(context).initializeComponent(ContextInitializer::class.java) -->
            <meta-data
                android:name="oms.mmc.fast.base.startup.ContextInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>